@import "tailwindcss";

@theme {
  --color-primary: #10b981;
  --color-primary-dark: #059669;
}

:root[data-theme="dark"] {
  --color-white: #0f172a;
  --color-slate-50: #0f172a;
  --color-slate-100: #1e293b;
  --color-slate-200: #334155;
  --color-slate-300: #475569;
  --color-slate-400: #64748b;
  --color-slate-500: #94a3b8;
  --color-slate-600: #cbd5e1;
  --color-slate-700: #e2e8f0;
  --color-slate-800: #f1f5f9;
  --color-slate-900: #f8fafc;
}

@layer base {
  body {
    @apply bg-slate-50 text-slate-800 antialiased font-sans transition-colors duration-300;
  }
}
